<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Direcciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <table class="responsive-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Direccion</th>
          <th>Ciudad</th>
          <th>ID usuario</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let direccion of direcciones">
          <td>{{ direccion.id }}</td>
          <td>{{ direccion.direccion }}</td>
          <td>{{ direccion.ciudad }}</td>
          <td>{{ direccion.usuario.id }}</td>
          <td>
            <ion-button (click)="updateDireccion(direccion.id)">Update</ion-button>
            <ion-button (click)="deleteDireccion(direccion.id)">Delete</ion-button>
          </td>
        </tr>
      </tbody>
    </table>

    <form>
      <ion-item>
        <ion-label position="stacked">Direccion</ion-label>
        <ion-input type="text" [(ngModel)]="direccion" name="direccion" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Ciudad</ion-label>
        <ion-input type="text" [(ngModel)]="ciudad" name="ciudad" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">ID usuario</ion-label>
        <ion-input type="text" [(ngModel)]="idusuario" name="idusuario" required></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="crearDireccion()">Crear</ion-button>
    </form>
  </div> 
</ion-content>

