<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Detalles
    </ion-title>
    <ion-button color="light"><a href="/home">Usuarios</a></ion-button>
    <ion-button color="light"><a href="/direcciones">Direcciones</a></ion-button>
    <ion-button color="light"><a href="/pedidos">Pedidos</a></ion-button>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container">
    <table class="responsive-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Cantidad</th>
          <th>Producto</th>
          <th>ID Pedido</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of detalles">
          <td>{{ detalle.id }}</td>
          <td>{{ detalle.cantidad }}</td>
          <td>{{ detalle.producto }}</td>
          <td>{{ detalle.pedido.id }}</td>
          <td>
            <ion-button (click)="updateDetalle(detalle.id)">Update</ion-button>
            <ion-button (click)="deleteDetalle(detalle.id)">Delete</ion-button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="errorMessage" style="color: red;">
      {{ errorMessage }}
    </div>
    <form>
      <ion-item>
        <ion-label position="stacked">Cantidad</ion-label>
        <ion-input type="text" [(ngModel)]="cantidad" name="cantidad" required></ion-input>
        <p *ngIf="productoError" [ngStyle]="{'color': 'red'}">El campo producto debe ser un número</p>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Producto</ion-label>
        <ion-input type="text" [(ngModel)]="producto" name="producto" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">ID Pedido</ion-label>
        <ion-input type="text" [(ngModel)]="idpedido" name="idpedido" required></ion-input>
      </ion-item>
  
      <ion-button expand="block" (click)="crearDetalle()">Crear</ion-button>
    </form>
  </div> 
</ion-content>
